// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

form {
  margin: 20px;
  .checkbox {
    margin-left: 15px;
  }
}

.employee {
  margin-bottom: 20px;
}

.delete-button {
  font-size: 14px;
  color: #fff;
  padding: 5px;
  background-color: #f00;
  border-radius: 5px;
}


.edit-button {
  font-size: 14px;
  color: #fff;
  padding: 5px;
  background-color: blue;
  border-radius: 5px;
}