// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.employee {
  margin-bottom: 20px;

  .button {
    font-size: 14px;
    color: #fff;
    padding: 5px;
    background-color: #f00;
    border-radius: 5px;
  }
}